<header>
    <div id="header-loader"></div>
        
    <div class="header-container">
        <div id="logo-text" class="heading-container" title="Home page">
            <a class="logo-text" href="/">Cloud Photos</a>
        </div>

        <div class="navigation-links-container">
            <div class="navigation-buttons-container">
                <div class="icon-container highlight white">
                    <img src="{{ url_for('static', filename='icons/community.png') }}" alt="community">
                </div>
            </div>
            
            {% if logged_in %}
            <div class="link-box">
                Logout
            </div>
            {% else %}
            <a class="button" href="/login" style="display: inline-block; padding: 10px 20px; margin: 5px; font-size: 16px; color: white; background-color: #4285F4; text-decoration: none; border-radius: 5px; transition: background-color 0.3s ease; text-align: center;">Google Login</a>

            <a class="button" href="/logout" style="display: inline-block; padding: 10px 20px; margin: 5px; font-size: 16px; color: white; background-color: #DB4437; text-decoration: none; border-radius: 5px; transition: background-color 0.3s ease; text-align: center;">Google Logout</a>
            
            {% endif %}
        </div>
    </div>  
</header>   
